[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
tqdm = "*"
imageio = "*"
cython = "*"
bokeh = "*"
ffmpeg = "*"
av = "*"

[requires]
python_version = "3.7"
